
*{
    position: relative;
    html, body {
        max-width: 100%;
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: 'Roboto', sans-serif;
        
        footer{

            width: 100vw;
            padding: 16px;
        }

    }
}