
.sidebar-container{
    width: 250px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding: 16px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    border-right: 1px solid #8E8E8E;

    .icon-section{
      margin-top: 16px;
      margin-left: 16px;
        .txt{
            margin-left: 20px;
            padding-right: 50px;
            
        }
    }
    .logout-section{
        position: fixed;
        bottom: 16px;
        margin-top: 16px;
        margin-left: 16px;
          .txt{
              margin-left: 20px;
              padding-right: 50px;

          }
      }
}

.footerbar-container{
    width: 100vw;
    position: fixed;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    bottom: 0;
    flex-wrap: wrap;
    border-top: 1px solid #8E8E8E;

    .icon-section{
        display: flex;
        cursor: pointer;
        margin: 0;
    }
}