
.sidebar-container{
    width:min-content;
    height: 100%;
    font-weight: 900;
    max-width: 100vh;

    .icon-section{
      margin-top: 16px;
      margin-left: 16px;
        .txt{
            margin-left: 20px;
            padding-right: 50px;
            
        }
    }
    .logout-section{
        position: fixed;
        bottom: 16px;
        margin-top: 16px;
        margin-left: 16px;
          .txt{
              margin-left: 20px;
              padding-right: 50px;

          }
      }
}

.footerbar-container{
    width: 100%;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #8E8E8E;
    align-items: center;
    background-color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 5px;
    background-color: #E0F2F1;

    .icon-section{
        display: flex;
        cursor: pointer;
        margin: 0;
    }
}