<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User List</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
	<div class="container mt-5">
		<h2>Lista de Usuarios</h2>
		<table class="table">
		    <caption>Usuarios Registrados</caption>
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre Usuario</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td th:text="${user.idUser}"></td>
					<td th:text="${user.username}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
