footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:30px ;
    a {
        text-decoration: none; /* Quita el subrayado */
        color: inherit; /* Hereda el color del texto de su contenedor */
        margin: 0 5px 0 5px;
        color: #8E8E8E;
        font-weight: lighter;
        font-size: 0.8rem;
      }

}
