.header-btn {
    border-radius: 10px;
    height: 40px;
    min-width: 90px;
    margin-right: 50px;
    cursor: pointer;

    p {
        margin: 0;
        font-size: 0.8rem;
        font-weight:600 ;
    }

    @media screen and (max-width: 768px) {
     display: none;
    }
}   

.toggle-container{
    display: flex;
    transition: background-color 0.3s ease; /* Agrega una transición suave */
    width: fit-content; /* Aplica un efecto de difuminado */

    .icon{
        width: 2em;  
        height: 2em;
        cursor: pointer;
        padding: 5px;
    }
}
.toggle-container.hovered {
    border: 1px solid;
    border-color: var(--gray-8);
    border-radius: 5px;
}
@media (max-width: 768px) {
    .toggle-container{
        .icon{
            width: 1.8em;
            height: 1.8em;
        }
    }
}

@media (max-width: 768px) {
    .toggle-container{
        .icon{
            width: 1.5em;
            height: 1.5em;
        }
    }
}