:root, .light, .light-theme {
  --teal-1: #f9fefe;
  --teal-2: #f3fbfb;
  --teal-3: #dff7f8;
  --teal-4: #ccf1f3;
  --teal-5: #b9e9ec;
  --teal-6: #a5dee2;
  --teal-7: #8acfd3;
  --teal-8: #60bbc1;
  --teal-9: #00666b;
  --teal-10: #00575c;
  --teal-11: #1b7378;
  --teal-12: #133a3c;
  --teal-a1: #00d5d506;
  --teal-a2: #00aaaa0c;
  --teal-a3: #00c0c820;
  --teal-a4: #00b9c333;
  --teal-a5: #00afba46;
  --teal-a6: #01a2ad5a;
  --teal-a7: #0097a075;
  --teal-a8: #00929c9f;
  --teal-a9: #00666b;
  --teal-a10: #00575c;
  --teal-a11: #006268e4;
  --teal-a12: #002a2cec;
  --teal-contrast: #fff;
  --teal-surface: #f0fafacc;
  --teal-indicator: #00666b;
  --teal-track: #00666b;
  --gray-1: #fcfcfd;
  --gray-2: #f9f9fb;
  --gray-3: #eff0f3;
  --gray-4: #e7e8ec;
  --gray-5: #e0e1e6;
  --gray-6: #d8d9e0;
  --gray-7: #cdced7;
  --gray-8: #b9bbc6;
  --gray-9: #8b8d98;
  --gray-10: #80828d;
  --gray-11: #62636c;
  --gray-12: #1e1f24;
  --gray-a1: #00005503;
  --gray-a2: #00005506;
  --gray-a3: #00104010;
  --gray-a4: #000b3618;
  --gray-a5: #0009321f;
  --gray-a6: #00073527;
  --gray-a7: #00063332;
  --gray-a8: #00083046;
  --gray-a9: #00051d74;
  --gray-a10: #00051b7f;
  --gray-a11: #0002119d;
  --gray-a12: #000107e1;
  --gray-contrast: #FFFFFF;
  --gray-surface: #ffffffcc;
  --gray-indicator: #8b8d98;
  --gray-track: #8b8d98;
  --background-gradient: linear-gradient(to bottom, #d6fafc, #e1faff, #edfaff, #f6faff, #fcfcfd);
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --teal-1: oklch(99.3% 0.005 200.7);
      --teal-2: oklch(98.2% 0.009 200.7);
      --teal-3: oklch(95.8% 0.025 200.7);
      --teal-4: oklch(93.3% 0.039 200.7);
      --teal-5: oklch(90.2% 0.05 200.7);
      --teal-6: oklch(86.3% 0.059 200.7);
      --teal-7: oklch(81.1% 0.07 200.7);
      --teal-8: oklch(73.9% 0.087 200.7);
      --teal-9: oklch(46.4% 0.079 200.7);
      --teal-10: oklch(41.1% 0.079 200.7);
      --teal-11: oklch(50.9% 0.079 200.7);
      --teal-12: oklch(32.3% 0.044 200.7);
      --teal-a1: color(display-p3 0.02 0.804 0.804 / 0.02);
      --teal-a2: color(display-p3 0.02 0.647 0.647 / 0.044);
      --teal-a3: color(display-p3 0.004 0.671 0.741 / 0.106);
      --teal-a4: color(display-p3 0.004 0.663 0.706 / 0.173);
      --teal-a5: color(display-p3 0.004 0.62 0.671 / 0.236);
      --teal-a6: color(display-p3 0.004 0.553 0.616 / 0.306);
      --teal-a7: color(display-p3 0 0.51 0.561 / 0.4);
      --teal-a8: color(display-p3 0 0.486 0.529 / 0.534);
      --teal-a9: color(display-p3 0 0.271 0.302 / 0.836);
      --teal-a10: color(display-p3 0 0.231 0.255 / 0.863);
      --teal-a11: color(display-p3 0 0.286 0.318 / 0.781);
      --teal-a12: color(display-p3 0 0.122 0.129 / 0.883);
      --teal-contrast: #fff;
      --teal-surface: color(display-p3 0.945 0.98 0.98 / 0.8);
      --teal-indicator: oklch(46.4% 0.079 200.7);
      --teal-track: oklch(46.4% 0.079 200.7);
      --gray-1: oklch(99.1% 0.001 277.7);
      --gray-2: oklch(98.2% 0.003 277.7);
      --gray-3: oklch(95.6% 0.005 277.7);
      --gray-4: oklch(93.1% 0.006 277.7);
      --gray-5: oklch(91% 0.008 277.7);
      --gray-6: oklch(88.8% 0.009 277.7);
      --gray-7: oklch(85.3% 0.012 277.7);
      --gray-8: oklch(79.4% 0.016 277.7);
      --gray-9: oklch(64.6% 0.016 277.7);
      --gray-10: oklch(61% 0.016 277.7);
      --gray-11: oklch(50.3% 0.014 277.7);
      --gray-12: oklch(24.1% 0.01 277.7);
      --gray-a1: color(display-p3 0.024 0.024 0.349 / 0.012);
      --gray-a2: color(display-p3 0.024 0.024 0.349 / 0.024);
      --gray-a3: color(display-p3 0.008 0.067 0.255 / 0.063);
      --gray-a4: color(display-p3 0.012 0.051 0.216 / 0.095);
      --gray-a5: color(display-p3 0.004 0.039 0.2 / 0.122);
      --gray-a6: color(display-p3 0.004 0.027 0.18 / 0.153);
      --gray-a7: color(display-p3 0.008 0.027 0.184 / 0.197);
      --gray-a8: color(display-p3 0.004 0.031 0.176 / 0.275);
      --gray-a9: color(display-p3 0.004 0.02 0.106 / 0.455);
      --gray-a10: color(display-p3 0.004 0.02 0.098 / 0.499);
      --gray-a11: color(display-p3 0 0.008 0.059 / 0.616);
      --gray-a12: color(display-p3 0 0.004 0.027 / 0.883);
      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(64.6% 0.016 277.7);
      --gray-track: oklch(64.6% 0.016 277.7);
    }
  }
}
@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --gray-1: oklch(99.1% 0.001 277.7);
      --gray-2: oklch(98.2% 0.003 277.7);
      --gray-3: oklch(95.6% 0.005 277.7);
      --gray-4: oklch(93.1% 0.006 277.7);
      --gray-5: oklch(91% 0.008 277.7);
      --gray-6: oklch(88.8% 0.009 277.7);
      --gray-7: oklch(85.3% 0.012 277.7);
      --gray-8: oklch(79.4% 0.016 277.7);
      --gray-9: oklch(64.6% 0.016 277.7);
      --gray-10: oklch(61% 0.016 277.7);
      --gray-11: oklch(50.3% 0.014 277.7);
      --gray-12: oklch(24.1% 0.01 277.7);
      --gray-a1: color(display-p3 0.024 0.024 0.349 / 0.012);
      --gray-a2: color(display-p3 0.024 0.024 0.349 / 0.024);
      --gray-a3: color(display-p3 0.008 0.067 0.255 / 0.063);
      --gray-a4: color(display-p3 0.012 0.051 0.216 / 0.095);
      --gray-a5: color(display-p3 0.004 0.039 0.2 / 0.122);
      --gray-a6: color(display-p3 0.004 0.027 0.18 / 0.153);
      --gray-a7: color(display-p3 0.008 0.027 0.184 / 0.197);
      --gray-a8: color(display-p3 0.004 0.031 0.176 / 0.275);
      --gray-a9: color(display-p3 0.004 0.02 0.106 / 0.455);
      --gray-a10: color(display-p3 0.004 0.02 0.098 / 0.499);
      --gray-a11: color(display-p3 0 0.008 0.059 / 0.616);
      --gray-a12: color(display-p3 0 0.004 0.027 / 0.883);
      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(64.6% 0.016 277.7);
      --gray-track: oklch(64.6% 0.016 277.7);
    }
  }
}
:root, .light, .light-theme, .radix-themes {
  --color-background: #fff;
}

.dark, .dark-theme {
  --teal-1: #0a1313;
  --teal-2: #0f1c1d;
  --teal-3: #072d2f;
  --teal-4: #003b3e;
  --teal-5: #00484c;
  --teal-6: #00565b;
  --teal-7: #02696e;
  --teal-8: #007e84;
  --teal-9: #30a0a7;
  --teal-10: #1d949b;
  --teal-11: #64cdd4;
  --teal-12: #a0f0f5;
  --teal-a1: #00bbbb03;
  --teal-a2: #00e9fd0d;
  --teal-a3: #00eaf921;
  --teal-a4: #00ecfc31;
  --teal-a5: #00edfd40;
  --teal-a6: #00edfd50;
  --teal-a7: #00f2ff64;
  --teal-a8: #00f1fd7c;
  --teal-a9: #43f4ffa1;
  --teal-a10: #26f3ff94;
  --teal-a11: #76f7ffd1;
  --teal-a12: #a6f9fef5;
  --teal-contrast: #fff;
  --teal-surface: #0e272980;
  --teal-indicator: #30a0a7;
  --teal-track: #30a0a7;
  --gray-1: #111113;
  --gray-2: #19191b;
  --gray-3: #222325;
  --gray-4: #292a2e;
  --gray-5: #303136;
  --gray-6: #393a40;
  --gray-7: #46484f;
  --gray-8: #5f606a;
  --gray-9: #6c6e79;
  --gray-10: #797b86;
  --gray-11: #b2b3bd;
  --gray-12: #eeeef0;
  --gray-a1: #1111bb03;
  --gray-a2: #cbcbf90b;
  --gray-a3: #d6e2f916;
  --gray-a4: #d1d9f920;
  --gray-a5: #d7ddfd28;
  --gray-a6: #d9defc33;
  --gray-a7: #dae2fd43;
  --gray-a8: #e0e3fd60;
  --gray-a9: #e0e4fd70;
  --gray-a10: #e3e7fd7e;
  --gray-a11: #eff0feb9;
  --gray-a12: #fdfdffef;
  --gray-contrast: #FFFFFF;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #6c6e79;
  --gray-track: #6c6e79;
  --background-gradient: linear-gradient(to bottom, #0a2b2e, #0f242b, #131d24, #14171c, #111113);
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --teal-1: oklch(17.8% 0.013 200.8);
      --teal-2: oklch(21.5% 0.018 200.8);
      --teal-3: oklch(27.3% 0.041 200.8);
      --teal-4: oklch(31.7% 0.059 200.8);
      --teal-5: oklch(36.2% 0.065 200.8);
      --teal-6: oklch(41.4% 0.071 200.8);
      --teal-7: oklch(47.3% 0.08 200.8);
      --teal-8: oklch(53.9% 0.094 200.8);
      --teal-9: oklch(64.9% 0.097 200.8);
      --teal-10: oklch(60.9% 0.097 200.8);
      --teal-11: oklch(78.9% 0.097 200.8);
      --teal-12: oklch(90.5% 0.078 200.8);
      --teal-a1: color(display-p3 0 0.941 0.941 / 0.009);
      --teal-a2: color(display-p3 0.145 0.914 0.992 / 0.051);
      --teal-a3: color(display-p3 0.133 0.937 1 / 0.122);
      --teal-a4: color(display-p3 0.176 0.937 1 / 0.185);
      --teal-a5: color(display-p3 0.247 0.937 1 / 0.244);
      --teal-a6: color(display-p3 0.298 0.937 1 / 0.307);
      --teal-a7: color(display-p3 0.341 0.941 1 / 0.387);
      --teal-a8: color(display-p3 0.369 0.945 1 / 0.479);
      --teal-a9: color(display-p3 0.486 0.957 1 / 0.622);
      --teal-a10: color(display-p3 0.439 0.953 1 / 0.572);
      --teal-a11: color(display-p3 0.6 0.969 1 / 0.811);
      --teal-a12: color(display-p3 0.729 0.973 1 / 0.954);
      --teal-contrast: #fff;
      --teal-surface: color(display-p3 0.071 0.149 0.157 / 0.5);
      --teal-indicator: oklch(64.9% 0.097 200.8);
      --teal-track: oklch(64.9% 0.097 200.8);
      --gray-1: oklch(17.8% 0.004 277.7);
      --gray-2: oklch(21.5% 0.004 277.7);
      --gray-3: oklch(25.5% 0.005 277.7);
      --gray-4: oklch(28.4% 0.008 277.7);
      --gray-5: oklch(31.4% 0.009 277.7);
      --gray-6: oklch(35% 0.01 277.7);
      --gray-7: oklch(40.2% 0.012 277.7);
      --gray-8: oklch(49.2% 0.016 277.7);
      --gray-9: oklch(54% 0.017 277.7);
      --gray-10: oklch(58.6% 0.016 277.7);
      --gray-11: oklch(77% 0.014 277.7);
      --gray-12: oklch(94.9% 0.003 277.7);
      --gray-a1: color(display-p3 0.067 0.067 0.941 / 0.009);
      --gray-a2: color(display-p3 0.8 0.8 0.98 / 0.043);
      --gray-a3: color(display-p3 0.851 0.898 0.988 / 0.085);
      --gray-a4: color(display-p3 0.839 0.871 1 / 0.122);
      --gray-a5: color(display-p3 0.847 0.875 1 / 0.156);
      --gray-a6: color(display-p3 0.878 0.898 1 / 0.194);
      --gray-a7: color(display-p3 0.875 0.906 0.996 / 0.257);
      --gray-a8: color(display-p3 0.894 0.906 1 / 0.37);
      --gray-a9: color(display-p3 0.89 0.91 1 / 0.433);
      --gray-a10: color(display-p3 0.902 0.918 1 / 0.488);
      --gray-a11: color(display-p3 0.945 0.949 1 / 0.719);
      --gray-a12: color(display-p3 0.992 0.992 1 / 0.937);
      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(54% 0.017 277.7);
      --gray-track: oklch(54% 0.017 277.7);
    }
  }
}
.dark, .dark-theme, :is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #111;
}

.dark {
  background: rgb(25, 25, 27);
  background: radial-gradient(circle, rgb(25, 25, 27) 0%, rgb(25, 25, 27) 45%, rgb(0, 212, 255) 100%);
}

/* styles.scss */
body, html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #E0F2F1;
  overflow-x: hidden; /* Evitar el desbordamiento horizontal */
}

.body-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.footerbar-container {
  background-color: #E0F2F1;
}

@media (max-width: 768px) {
  .header-container .icon {
    width: 1.8em;
    height: 1.8em;
  }
}
@media (max-width: 768px) {
  .header-container .icon {
    width: 1.5em;
    height: 1.5em;
  }
}
.header-container, .footerbar-container {
  width: 100vw;
  position: fixed;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.header-container {
  top: 0;
  border-radius: 5px;
}
.header-container .btn-container {
  margin-right: 16px;
}
.header-container .option-container {
  display: flex;
  margin-right: 16px;
  align-items: center;
  padding-top: 10px;
}
.header-container .option-container div {
  padding-right: 16px;
}
.header-container .logo-container {
  margin-left: 46px;
  margin-top: 16px;
}
.header-container .logo-container .icon {
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.footerbar-container {
  bottom: 0;
  flex-wrap: wrap;
  border-top: 1px solid #8E8E8E;
}

.sidebar-container {
  width: 250px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  border-right: 1px solid #8E8E8E;
}

.icon-section, .logout-section {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
}

.icon-btn {
  margin-right: 15px;
}

@media (max-width: 770px) {
  .sidebar-container {
    display: none;
  }
  .footerbar-container {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 770px) and (max-width: 1050px) {
  .sidebar-container {
    width: fit-content;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
  }
}
@media (min-width: 770px) {
  .footerbar-container {
    display: none;
  }
}
@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --teal-1: oklch(17.8% 0.013 200.8);
      --teal-2: oklch(21.5% 0.018 200.8);
      --teal-3: oklch(27.3% 0.041 200.8);
      --teal-4: oklch(31.7% 0.059 200.8);
      --teal-5: oklch(36.2% 0.065 200.8);
      --teal-6: oklch(41.4% 0.071 200.8);
      --teal-7: oklch(47.3% 0.08 200.8);
      --teal-8: oklch(53.9% 0.094 200.8);
      --teal-9: oklch(64.9% 0.097 200.8);
      --teal-10: oklch(60.9% 0.097 200.8);
      --teal-11: oklch(78.9% 0.097 200.8);
      --teal-12: oklch(90.5% 0.078 200.8);
      --teal-a1: color(display-p3 0 0.941 0.941 / 0.009);
      --teal-a2: color(display-p3 0.145 0.914 0.992 / 0.051);
      --teal-a3: color(display-p3 0.133 0.937 1 / 0.122);
      --teal-a4: color(display-p3 0.176 0.937 1 / 0.185);
      --teal-a5: color(display-p3 0.247 0.937 1 / 0.244);
      --teal-a6: color(display-p3 0.298 0.937 1 / 0.307);
      --teal-a7: color(display-p3 0.341 0.941 1 / 0.387);
      --teal-a8: color(display-p3 0.369 0.945 1 / 0.479);
      --teal-a9: color(display-p3 0.486 0.957 1 / 0.622);
      --teal-a10: color(display-p3 0.439 0.953 1 / 0.572);
      --teal-a11: color(display-p3 0.6 0.969 1 / 0.811);
      --teal-a12: color(display-p3 0.729 0.973 1 / 0.954);
      --teal-contrast: #fff;
      --teal-surface: color(display-p3 0.071 0.149 0.157 / 0.5);
      --teal-indicator: oklch(64.9% 0.097 200.8);
      --teal-track: oklch(64.9% 0.097 200.8);
      --gray-1: oklch(17.8% 0.004 277.7);
      --gray-2: oklch(21.5% 0.004 277.7);
      --gray-3: oklch(25.5% 0.005 277.7);
      --gray-4: oklch(28.4% 0.008 277.7);
      --gray-5: oklch(31.4% 0.009 277.7);
      --gray-6: oklch(35% 0.01 277.7);
      --gray-7: oklch(40.2% 0.012 277.7);
      --gray-8: oklch(49.2% 0.016 277.7);
      --gray-9: oklch(54% 0.017 277.7);
      --gray-10: oklch(58.6% 0.016 277.7);
      --gray-11: oklch(77% 0.014 277.7);
      --gray-12: oklch(94.9% 0.003 277.7);
      --gray-a1: color(display-p3 0.067 0.067 0.941 / 0.009);
      --gray-a2: color(display-p3 0.8 0.8 0.98 / 0.043);
      --gray-a3: color(display-p3 0.851 0.898 0.988 / 0.085);
      --gray-a4: color(display-p3 0.839 0.871 1 / 0.122);
      --gray-a5: color(display-p3 0.847 0.875 1 / 0.156);
      --gray-a6: color(display-p3 0.878 0.898 1 / 0.194);
      --gray-a7: color(display-p3 0.875 0.906 0.996 / 0.257);
      --gray-a8: color(display-p3 0.894 0.906 1 / 0.37);
      --gray-a9: color(display-p3 0.89 0.91 1 / 0.433);
      --gray-a10: color(display-p3 0.902 0.918 1 / 0.488);
      --gray-a11: color(display-p3 0.945 0.949 1 / 0.719);
      --gray-a12: color(display-p3 0.992 0.992 1 / 0.937);
      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(54% 0.017 277.7);
      --gray-track: oklch(54% 0.017 277.7);
    }
  }
}
.dark, .dark-theme, :is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #111;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --gray-1: oklch(99.1% 0.001 277.7);
      --gray-2: oklch(98.2% 0.003 277.7);
      --gray-3: oklch(95.6% 0.005 277.7);
      --gray-4: oklch(93.1% 0.006 277.7);
      --gray-5: oklch(91% 0.008 277.7);
      --gray-6: oklch(88.8% 0.009 277.7);
      --gray-7: oklch(85.3% 0.012 277.7);
      --gray-8: oklch(79.4% 0.016 277.7);
      --gray-9: oklch(64.6% 0.016 277.7);
      --gray-10: oklch(61% 0.016 277.7);
      --gray-11: oklch(50.3% 0.014 277.7);
      --gray-12: oklch(24.1% 0.01 277.7);
      --gray-a1: color(display-p3 0.024 0.024 0.349 / 0.012);
      --gray-a2: color(display-p3 0.024 0.024 0.349 / 0.024);
      --gray-a3: color(display-p3 0.008 0.067 0.255 / 0.063);
      --gray-a4: color(display-p3 0.012 0.051 0.216 / 0.095);
      --gray-a5: color(display-p3 0.004 0.039 0.2 / 0.122);
      --gray-a6: color(display-p3 0.004 0.027 0.18 / 0.153);
      --gray-a7: color(display-p3 0.008 0.027 0.184 / 0.197);
      --gray-a8: color(display-p3 0.004 0.031 0.176 / 0.275);
      --gray-a9: color(display-p3 0.004 0.02 0.106 / 0.455);
      --gray-a10: color(display-p3 0.004 0.02 0.098 / 0.499);
      --gray-a11: color(display-p3 0 0.008 0.059 / 0.616);
      --gray-a12: color(display-p3 0 0.004 0.027 / 0.883);
      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(64.6% 0.016 277.7);
      --gray-track: oklch(64.6% 0.016 277.7);
    }
  }
}
:root, .light, .light-theme, .radix-themes {
  --color-background: #fff;
}/*# sourceMappingURL=app.css.map */