<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Registro</title>

<!-- Enlace al archivo CSS de Bootstrap (tema oscuro) -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet">

</style>
</head>
<body>
	<div th:fragment="registerFormFragment">

		<div class="container">
			<div class="row justify-content-center form-container">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header bg-dark text-white">
							<h4 class="mb-0">Registar usuario</h4>
						</div>
						<div class="card-body">
							<form th:action="@{/register}" method="post">
								<div class="mb-3">
									<label for="fullName" class="form-label">Nombre Completo</label> <input type="text" class="form-control" id="fullName"
										name="fullName" required>
								</div>
									<div class="mb-3">
									<label for="email" class="form-label">Tu email</label> <input type="email" class="form-control" id="email"
										name="email" required>
								</div>
								<div class="mb-3">
									<label for="userName" class="form-label">Nombre de
										Usuario</label> <input type="text" class="form-control" id="userName"
										name="userName" required>
								</div>
								<div class="mb-3">
									<label for="password" class="form-label">Contraseña</label> <input
										type="password" class="form-control" id="password"
										name="password" required>
								</div>
								<button type="submit" class="btn btn-dark">Registrarse</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Enlace al archivo JS de Bootstrap (opcional) -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
