.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 40vw;
  margin: 0 auto;
  
}
.continue-with{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.continue-with span{
  margin: 20px;
  color: #5E8A8C;
}
.continue-with .btn-group{ 
  width: 70%;
  display: flex;
  justify-content: space-between;

}
.continue-with .facebook-btn,.google-btn {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  width: 45%;
  height: 47.5px;
}

.continue-with .google-btn{
  background-color: #F0F5F5;
  color: #0F1717;
}
.continue-with .facebook-btn{
  background-color: #00666B;
  color: #fff;
}
.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container span{
  padding: 15px;
  color: #5E8A8C; 
}
.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container form {
  width: 70%;
  display: flex;
  flex-direction: column;
}


.form-container input[type="email"],
.form-container input[type="password"] {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #5E8A8C;

}

.form-container button[type="submit"] {
  padding: 15px;
  background-color: #00666B;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.form-container button[type="submit"]:hover {
  background-color: #00666B;
}

.container-options{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.container-options a{
  text-decoration: none;
  color: #5E8A8C;
}
