.dark, .dark-theme {
    --teal-1: #0a1313;
    --teal-2: #0f1c1d;
    --teal-3: #072d2f;
    --teal-4: #003b3e;
    --teal-5: #00484c;
    --teal-6: #00565b;
    --teal-7: #02696e;
    --teal-8: #007e84;
    --teal-9: #30a0a7;
    --teal-10: #1d949b;
    --teal-11: #64cdd4;
    --teal-12: #a0f0f5;
  
    --teal-a1: #00bbbb03;
    --teal-a2: #00e9fd0d;
    --teal-a3: #00eaf921;
    --teal-a4: #00ecfc31;
    --teal-a5: #00edfd40;
    --teal-a6: #00edfd50;
    --teal-a7: #00f2ff64;
    --teal-a8: #00f1fd7c;
    --teal-a9: #43f4ffa1;
    --teal-a10: #26f3ff94;
    --teal-a11: #76f7ffd1;
    --teal-a12: #a6f9fef5;
  
    --teal-contrast: #fff;
    --teal-surface: #0e272980;
    --teal-indicator: #30a0a7;
    --teal-track: #30a0a7;


    --gray-1: #111113;
    --gray-2: #19191b;
    --gray-3: #222325;
    --gray-4: #292a2e;
    --gray-5: #303136;
    --gray-6: #393a40;
    --gray-7: #46484f;
    --gray-8: #5f606a;
    --gray-9: #6c6e79;
    --gray-10: #797b86;
    --gray-11: #b2b3bd;
    --gray-12: #eeeef0;
  
    --gray-a1: #1111bb03;
    --gray-a2: #cbcbf90b;
    --gray-a3: #d6e2f916;
    --gray-a4: #d1d9f920;
    --gray-a5: #d7ddfd28;
    --gray-a6: #d9defc33;
    --gray-a7: #dae2fd43;
    --gray-a8: #e0e3fd60;
    --gray-a9: #e0e4fd70;
    --gray-a10: #e3e7fd7e;
    --gray-a11: #eff0feb9;
    --gray-a12: #fdfdffef;
  
    --gray-contrast: #FFFFFF;
    --gray-surface: rgba(0, 0, 0, 0.05);
    --gray-indicator: #6c6e79;
    --gray-track: #6c6e79;
    --background-gradient: linear-gradient(to bottom, #0a2b2e, #0f242b, #131d24, #14171c, #111113);

  }
  
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      .dark, .dark-theme {
        --teal-1: oklch(17.8% 0.013 200.8);
        --teal-2: oklch(21.5% 0.018 200.8);
        --teal-3: oklch(27.3% 0.041 200.8);
        --teal-4: oklch(31.7% 0.059 200.8);
        --teal-5: oklch(36.2% 0.065 200.8);
        --teal-6: oklch(41.4% 0.071 200.8);
        --teal-7: oklch(47.3% 0.08 200.8);
        --teal-8: oklch(53.9% 0.094 200.8);
        --teal-9: oklch(64.9% 0.097 200.8);
        --teal-10: oklch(60.9% 0.097 200.8);
        --teal-11: oklch(78.9% 0.097 200.8);
        --teal-12: oklch(90.5% 0.078 200.8);
  
        --teal-a1: color(display-p3 0 0.941 0.941 / 0.009);
        --teal-a2: color(display-p3 0.145 0.914 0.992 / 0.051);
        --teal-a3: color(display-p3 0.133 0.937 1 / 0.122);
        --teal-a4: color(display-p3 0.176 0.937 1 / 0.185);
        --teal-a5: color(display-p3 0.247 0.937 1 / 0.244);
        --teal-a6: color(display-p3 0.298 0.937 1 / 0.307);
        --teal-a7: color(display-p3 0.341 0.941 1 / 0.387);
        --teal-a8: color(display-p3 0.369 0.945 1 / 0.479);
        --teal-a9: color(display-p3 0.486 0.957 1 / 0.622);
        --teal-a10: color(display-p3 0.439 0.953 1 / 0.572);
        --teal-a11: color(display-p3 0.6 0.969 1 / 0.811);
        --teal-a12: color(display-p3 0.729 0.973 1 / 0.954);
  
        --teal-contrast: #fff;
        --teal-surface: color(display-p3 0.071 0.149 0.157 / 0.5);
        --teal-indicator: oklch(64.9% 0.097 200.8);
        --teal-track: oklch(64.9% 0.097 200.8);

        --gray-1: oklch(17.8% 0.004 277.7);
        --gray-2: oklch(21.5% 0.004 277.7);
        --gray-3: oklch(25.5% 0.005 277.7);
        --gray-4: oklch(28.4% 0.008 277.7);
        --gray-5: oklch(31.4% 0.009 277.7);
        --gray-6: oklch(35% 0.01 277.7);
        --gray-7: oklch(40.2% 0.012 277.7);
        --gray-8: oklch(49.2% 0.016 277.7);
        --gray-9: oklch(54% 0.017 277.7);
        --gray-10: oklch(58.6% 0.016 277.7);
        --gray-11: oklch(77% 0.014 277.7);
        --gray-12: oklch(94.9% 0.003 277.7);
  
        --gray-a1: color(display-p3 0.067 0.067 0.941 / 0.009);
        --gray-a2: color(display-p3 0.8 0.8 0.98 / 0.043);
        --gray-a3: color(display-p3 0.851 0.898 0.988 / 0.085);
        --gray-a4: color(display-p3 0.839 0.871 1 / 0.122);
        --gray-a5: color(display-p3 0.847 0.875 1 / 0.156);
        --gray-a6: color(display-p3 0.878 0.898 1 / 0.194);
        --gray-a7: color(display-p3 0.875 0.906 0.996 / 0.257);
        --gray-a8: color(display-p3 0.894 0.906 1 / 0.37);
        --gray-a9: color(display-p3 0.89 0.91 1 / 0.433);
        --gray-a10: color(display-p3 0.902 0.918 1 / 0.488);
        --gray-a11: color(display-p3 0.945 0.949 1 / 0.719);
        --gray-a12: color(display-p3 0.992 0.992 1 / 0.937);
  
        --gray-contrast: #FFFFFF;
        --gray-surface: color(display-p3 0 0 0 / 5%);
        --gray-indicator: oklch(54% 0.017 277.7);
        --gray-track: oklch(54% 0.017 277.7);
      }
    }
    
  }

  .dark, .dark-theme, :is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
    --color-background: #111;
  }