.header {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #8E8E8E;
    border-radius: 10px;
   .logo-svg{
    margin-left: 10px;
   }

}
