aside{
    max-width: 200px;
    height: 15vh;
}
.sidebar-container{

    .icon-section{
      display: flex;
      margin-left: 30px;
      margin-top: 15px;
      cursor: pointer;

      @media screen and (max-width: 500px) {
        margin-left: 15px;
    }
        .txt{
            margin-left: 20px;
        }
    }
    @media screen and (max-width: 500px) {
        width: min-content;
        margin-left: 0;
    }
}